body {
  font-family: sans-serif, serif;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

li {
  display: inline;
  padding: 15px;
  font-weight: bold;
  font-size: 28px;
} 

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #F0B67F;
}

a:active {
  text-decoration: underline;
}

.card-container {
  width:95%;
  text-align:center;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.card-c1 {
  float:left;
  text-align: center;
  width:370px;
  margin-right: 120px;
  margin-left: 120px;
}

.card-c2 {
  display: inline-block;
  text-align: center;
  margin:0 auto;
  width:370px;
  margin-right: 120px;
  margin-left: 120px;
}

.card-c3 {
  float:right;
  text-align: center;
  width:370px;
  margin-right: 120px;
  margin-left: 120px;
}

.btn {
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  border-radius: 10px;
  padding: 14px 40px;
  background: #F0B67F;
  margin: 0 auto;
  color: black; 
}

.main-c {
  width:95%;
  text-align:center;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 0 auto;
  overflow:hidden
}

.card-text {
  margin-top: 50px;
  margin-left: 40%;
  margin-right: 10%;
  padding: 10px;
}

.card-image {
  float:left;
  width: 25%;
  margin-left: 150px;
  margin-top: 50px;
}
